<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Assets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content
  ><ion-grid color="light">
    <!-- <ion-row>
      <ion-col class="ion-text-center" size-md="6" offset-md="3">
        <h3>Assets</h3>
      </ion-col>
    </ion-row> -->

    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size-md="6" offset-md="3">
        <h3>{{totalAmount?.toLocaleString(currencyService.getLocaleForCurrency(
          currencyService.currency | async ), {style: 'currency', currency:
          currencyService.currency | async, maximumFractionDigits: 0,
          minimumFractionDigits: 0})}}</h3>
        <!-- <p>as on {{currentDate.toDateString()}}</p> -->
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" *ngFor="let assetGroup of assetGroups; let i = index">
      <ion-col class="ion-no-padding" size-md="6" offset-md="3">
        <app-asset
          [title]="assetGroup.assetType"
          [value]="assetGroup.amount"
          [itemColor]="color(assetGroup.assetType)"
          [itemLink]="'/home/tabs/assets/asset-detail/' + getSlug(assetGroup.assetType)"
        ></app-asset>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <app-add-new isAsset="true" [assetType]="OTHERS"></app-add-new>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
